@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
font-family: "Dosis", sans-serif;
}

.text-blue {
    color: #2cabe1
}

.bg-blue {
    background-color: #2cabe1;
}

.fs-48 {
    font-size: 48px;
}